/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width:vw;
  min-width: 1120px;
  background-color:#F5F4F0;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

main {
 max-width: 1120px;
 width: 1120px;
 margin: 88px auto;
}

header h1 {
 margin-bottom: 40px;
}

.headline {
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #E1624F;
  font-weight:bold;
}

figure figcaption {
  padding:24px 0 40px 0;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 0 60px 0;
  background-color: #d9d9d9;
}

.intro {
  margin-bottom: 64px;
}

.intro p {
  margin-top: 8px;
}

article img {
  height: 350px;
  max-height: 350px;
  margin-bottom:20px;
}

article h3 {
  margin-bottom:8px;
}

article p:nth-of-type(1) {
  margin-bottom:24px;
  font-weight: 400;
}

article p {
  font-weight:bold;
}

article ul {
  margin-bottom: 48px;
  padding-left: 24px;
}

article ul li {
  color:#0C51A7;
  font-weight:bold;
}

.colored_list li:nth-of-type(1) {
  color:#591B98;
}

.colored_list li:nth-of-type(2) {
  color:#E5245E;
}

.colored_list li:nth-of-type(3) {
  color:#E95E10;
}

footer {
  text-align:center;
}

footer p {
  margin-top: 8px;
}

#withLove {
 font-family: "Alice", serif;
  margin-top:65px;
}

